@tailwind base;
@tailwind components;
@tailwind utilities;


.banner-bg{
  background-image: linear-gradient(rgba(17, 8, 8, 0.418),rgba(0, 0, 0, 0.493)), url(../public/image/banner/1.png);
  
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 800px;
}